body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
header, footer {
    padding: 20px;
}
section {
    width: 525px;
    float: right;
    padding: 20px;
}
aside {
    width: 215px;
    float: left;
    padding: 20px;
    margin-right: 10px;
}
footer {
    clear: both;
    background-color: #931420;
}
